<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="warning" slot="start"></ion-icon>
        <ion-label>Spam</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>PERFIL</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <!----------------------aqui---------->
    <video controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline">
      <source src="https://firebasestorage.googleapis.com/v0/b/notea-fa842.appspot.com/o/upload%2FVideo.mp4?alt=media&token=f4c256b4-bf88-49f7-a703-5033d8bca0d5" />
    </video>
  </ion-content>
</div>